.js-quickedit-page-title.page-title{margin:auto;display:block;}
.header{background:#003f72;}.brand.logo{width:120%;margin:-0.5em 0em;}.sm.menu-base-theme a{color:white;}.sm.menu-base-theme a:hover{color:#eaab00;background:#003f72;}
