h1.page-title{font-size:40px;text-transform:uppercase;}footer.comment-submitted{display:none;}.node__content{text-align:justify;font-size:18px;}
.header{background:#003f72;}body{background:#fff;color:#000;}.brand.logo{width:120%;margin:-0.5em 0em;}.sm.menu-base-theme a{color:white;}.sm.menu-base-theme a:hover{color:#eaab00;background:#003f72;}
